body {
	background-color: #001a33;
	padding: 50px;
}

h1 {
	color: #e6f3ff;
	text-align: center;
}

.single {
	padding: 20px;
	color: #e6f3ff;
	text-align: center;
}

.single form {
	display: inline-block;
}

.single form label {
	display: block;
	margin: 10px;
}

.single form input {
	display: block;
	background-color: #d9e6f2;
}

.single-pred {
	font-style: italic;
	color: #e6f3ff;
	text-align: center;
	font-size: 18px;
	margin: 18px;
}

.button-grp {
	text-align: center;
}

.button-grp button {
	padding: 10px;
	margin-top: 10px;
	border-radius: 5px;
}

.button-grp p {
	color: #e6f3ff;
	font-size: 15px;
	opacity: 0.6;
}

.single form #single-submit {
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
	border-radius: 5px;
	padding: 5px;
}

footer {
	margin-top: 60px;
}

.browse {
	padding: 20px;
	text-align: center;
}

.browse form input {
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	background-color: #00284d;
	color: #e6f3ff;
}

.browse form input:hover, .single form #single-submit:hover, .button-grp button:hover {
	box-shadow: 1px 1px 5px #e6f3ff;
}


